@model MineradorRH.Models.PalavraAgrupadora

@{
    ViewBag.Title = "Detalhes do agrupador";
}

<h2>Detalhes do agrupador</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palavra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palavra)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-info" href="@Url.Action("Index")">Voltar</a>
    <a class="btn btn-success" href="@Url.Action("Edit", new { id = Model.ID })">Editar</a>
</p>