@{
    ViewBag.Title = "Grafico";
}

<h1>Gráfico</h1>
<div id="main">
    <div id="sequence"></div>
    <div id="chart">
        <div id="explanation" style="visibility: hidden;">
            <span id="percentage"></span><br />
            de demissão ou demitido da empresa
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/d3.v3.min.js"></script>
<script src="~/Scripts/chart.js"></script>